           
          body {
          background-color: white;
          background-size: cover;
          margin: 0px;
          pointer-events: auto;
          }

          .overlay {
          background: linear-gradient(360deg, 
        rgba(0, 0, 255, 0), rgba(0, 0, 255, 0.2),  rgba(0, 0, 255, 0.4), rgba(0, 0, 255, 0.6), rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 1), rgba(0, 0, 255, 1), rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0.6), rgba(0, 0, 255, 0.4), rgba(0, 0, 255, 0.2), rgba(0, 0, 255, 0));
          position: fixed;
          height: 200%;
          width: 250%;
          animation: verticalTransition 16s ease infinite;
          }
          
        @keyframes verticalTransition {
          0% {
            transform: translate(0%, -100%);
          }
        100% {
            transform: translate(-50%, 100%);
        }
        }

        .hexagonos {
          position: fixed;
          z-index: 0;
        }

        .hexagonos table {
          position: relative;
          height: 100%;
          width: 100%;
        }

        .hexagonos tr {
          position: fixed;
          height: 100%;
          width: 100%;
        }

        .hexagonos td {
          background-image: url('https://github.com/Ivanovas1/ivanovas1.github.io/blob/cd0c56340a762d5dd6448e703e3bcac66a578218/bground%20patron%20blanco(2).png');
          background-repeat: repeat;
          background-size: 18%;
          margin-left: 0vw;
          margin-top: 0vh;
          position: absolute;
          width: 100%;
          height: 100%;
          z-index: 0;
        }

        .BGMainBar {
          border-collapse: collapse;
          position: relative;
          margin: 2px;
        }

        header {
          border-collapse: collapse;
          margin-bottom: -5px;
          position: relative
        }

        img#logogirando {
          border-collapse: collapse;
          position: relative;
          margin: .5vh;
          width: 50px;
          padding: 0px;
          margin-top: 0vh;
          animation: rotateLogo 15s linear infinite;
        }

        @keyframes rotateLogo {
          from {
            transform: rotate(0deg);
          }

          to {
            transform: rotate(360deg);
          }
        }

        img#logogirando:hover {
          animation: rotateLogoSpeed 5s linear infinite;
        }

        @keyframes rotateLogoSpeed {
          from {
            transform: rotate(0deg);
          }

          to {
            transform: rotate(-360deg);
          }
        }

        #reloj {
          position: relative;
          border-collapse: collapse-border-collapse;
          background-color: rgba(0, 0, 0, 0);
          color: white;
          font-size: 13px;
          font-family: Arial, Helvetica;
          padding: 15px;
          z-index: 1;
          transition: background-color 0.7s ease;
        }

        .ListaReloj {
          position: relative;
          margin-inline-end: auto;
        }

        #reloj:hover {
          background-color: rgba(255, 0, 0, 1.0);
          color: black;
        }

        .Saludos {
          position: relative;
          margin-inline-end: auto;
        }

        #Saludos {
          position: relative;
          border-collapse: collapse;
          font-size: 14px;
          color: red;
          font-family: Arial, Helvetica;
          animation: Desplazamiento 7s infinite linear;
          animation-delay: 2;
          z-index: 0;
        }

        @keyframes Desplazamiento {
          0% {
            opacity: 0;
          }

          50% {
            opacity: 1;
          }

          100% {
            opacity: 0;
          }
        }

        nav a {
          position: relative;
          font-family: verdana;
          color: white;
          text-decoration: none;
          padding: 0px;
          margin: 0px;
          transition: background-color 0.7s ease;
        }

        nav a:hover {
          background-color: rgba(255, 0, 0, 1.0);
        }

        nav ul {
          padding-right: 0px;
          padding-left: 0;
          margin-top: .3vh;
          list-style: none;
          display: flex;
        }

        nav li {
          margin: 0px;
        }

        button {
          position: relative;
          border-collapse: collapse;
          margin-top: .3vh;
          border-style: none;
          border-radius: 50%;
          background-color: rgba(0, 0, 0, 0);
          transition: background-color 0.7s ease;
          width: fit-content;
        }

        img#lunaicono {
          height: 25px;
          width: 25px;
          border-radius: 50px;
          background-color: rgba(0, 0, 0, 1);
          font-family: Arial, Helvetica;
          padding: 6px;
          margin-top: -.5vh;
          transition: background-color 0.7s ease;
        }

        img#solicono {
          height: 25px;
          width: 25px;
          border-style: none;
          border-radius: 50px;
          background-color: rgba(0, 0, 0, 1);
          font-family: Arial, Helvetica;
          padding: 6px;
          margin-top: .5vh;
          transition: background-color 0.7s ease;
        }

        img#solicono:hover {
          background-color: rgba(255, 255, 255, 1);
          z-index: 1;
        }

        img#lunaicono:hover {
          background-color: rgba(255, 255, 255, 1);
          z-index: 1;
        }

        .MainPageTitleContainer {
          background-color: rgba(0, 0, 0, 1);
          margin-top: -5px;
          position: relative;
          overflow: hidden;
        }

        .TextoParrafo1 {
          background-color: rgba(0, 0, 0, 0.8);
          font-family: Arial;
          position: relative;
          margin: 1px;
          font-size: 40px;
          overflow: hidden;
        }

        .TextoParrafo1 p {
          background-color: rgba(0, 0, 0, 0.5);
          font-family: Arial;
          position: relative;
          margin-block-end: 1%;
          margin-block-start: 1%;
          overflow: hidden;
          font-size: 55px;
        }

        .MainText {
          background-color: rgba(0, 0, 0, 0.3);
          font-family: Arial;
          position: relative;
          margin: 2px;
        }

        p {
          color: silver;
        }

        .MainText p {
          position: relative;
          font-size: 20px;
          text-align: justify;
        }

        span#Blanco {
          color: white;
        }

        .FooterBox {
          position: relative;
          font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
          color: white;
          display: flex;
        }

        p.FooterBox{
          position: relative;
          font-size: 13px;
          line-height: 1em;
          text-align: left;
        }

        .Contenido {
          position: relative;
          z-index: 1;
          margin: 2px;
          border-collapse: collapse;
        }

        .Reproductor { 
          background-color: rgba(0, 0, 0, 0.5);
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .Reproductor iframe {
          margin: 20px;
          width: 70%;
          height: 70%;
        }
